body{
    background-color:black;
    color: White;
}

img{
height: 200px;
width: 200px;
}

.squircle{
    border-radius: 50px;
    padding: 20px;
}

h3 {
border-style:none;
Border-bottom-style:double;
border-width:20px;
border-color:tan;
}

.pageMargin{
border-style:double;
border-width:20px;
border-color:red
}

